@font-face {
  font-family: 'Trajan Pro Regular';
  src:  url('..//public/Trajan Pro Regular.woff') format('woff');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(99, 99, 99);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trajan Pro Regular', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.bg-vid {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

@font-face {
  font-family: 'Trajan Pro Regular';
  src:  url('..//public/Trajan Pro Regular.eot');
  src:  url('Trajan Pro Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Trajan Pro Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('Trajan Pro Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('Trajan Pro Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}